<!-- TODO: Add form labels -->

<div ng-controller="userFormController">
    <div class="user-form centered">
        <form class="form" ng-submit="submitForm()">
            <input class="input" type="number" name="time-period" placeholder="Time period"
                   ng-model="period"/>
            <input class="input" type="number" name="aggregate-points" placeholder="Aggregate points"
                   ng-model="points"/>
            <input class="input" type="number" name="update-every" placeholder="Update every"
                   ng-model="aggregationTime"/>
            <input class="button" id="submit" type="submit" name="submit" value="Submit"/>
        </form>
    </div>
</div>
