<div class="user-form centered">
    <div class="logout centered">
        <i class="fa fa-sign-out fa-4x" aria-hidden="true" ng-click="signOut()"></i>
    </div>
    <form class="form">
        <input class="input" type="input" name="time-period" placeholder="Time period" />
        <input class="input" type="input" name="aggregate-points" placeholder="Aggregate points" />
        <input class="input" type="input" name="update-every" placeholder="Update every" />
        <input class="button" id="submit" type="submit" name="submit" value="Submit" />
    </form>
</div>
