html, body {
  font-family: Helvetica;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.header, .footer {
  margin: 0 auto;
  width: 100%;
}

.header {
  box-shadow: 0 10px 10px #888;
}

.footer {
  box-shadow: 0 -10px 10px #888;
  height: 90px;
}

.top-container {
  align-items: center;
  display: flex;
  height: 90px;
}

.mid-container {
  height: 700px;
  margin: auto;
  text-align: center;
}

.internal {
  margin: auto;
  padding: 20px 0;
  width: 70%;
}

.lastSync {
  font-size: 16px;
  font-weight: 700;
}
