.header, .footer {
  margin: 0 auto;
}

.header {
  box-shadow: 0 10px 10px #888
}

.footer {
  box-shadow: 0 -10px 10px #888
}

.centered {
  margin: auto;
  padding: 30px 0;
  width: 70%;
}

.login, .logout {
  position: relative;
}

.login i {
  position: absolute;
  top: -92px;
  left: calc(100% - 70px);
}

.logout i {
  position: absolute;
  top: -100px;
  left: calc(100% - 50px);
}

.login i:hover, .logout i:hover {
  cursor: pointer;
}

.not-signed-in, .map-content, .user-form {
  height: calc(100vh - 230px);
  margin: auto;
  position: relative;
  width: 100%;
}

.message {
  font-size: 24px;
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
}

.message p {
  text-align: center;
}

.map-content, .user-form {
  padding: 20px;
}

#map {
  border: 2px solid;
  height: 480px;
  margin: 0 auto 50px;
  width: 640px;
}

button {
  border: 2px solid;
  display: block;
  margin: auto;
}

.button:hover {
  cursor: pointer;
}

.button {
  background: #fff;
  box-shadow: 0 0 5px #888;
  font-size: 18px;
  width: 200px;
}

#submit {
  border: 2px solid;
  font: inherit;
  margin-top: 30px;
  text-align: center;
  width: 60%;
}

.form {
  margin: 0 auto 50px;
  width: 400px;
}

.input {
  border: 2px solid;
  display: block;
  font: inherit;
  margin: 10px auto;
  padding: 2px;
  width: 100%
}
