.map-panel {
  display: inline-block;
  padding: 0 50px;
  width: 60%;
}

.map {
  border: 2px solid #eee;
  height: 480px;
  margin: 100px auto;
  width: 640px;
}

@media only screen and (max-width: 500px) {
  .map {
    display: none;
  }
}
