.form-panel {
  display: none;
  height: 100%;
  padding: 0 50px;
  vertical-align: top;
  width: 30%;
}

.my-form {
  margin: 100px auto;
  min-width: 150px;
  max-width: 400px;
  text-align: left;
}
